body {
  background-color: #2e2e2e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
  width: 95%;
}

h1 {
  color: #ffffff;
}

.grid-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* Includes padding and border in the element's total width */
}

.ag-theme-alpine-dark {
  width: 100%;
  /* Grid takes full width of its container */
  max-width: 100%;
  /* Prevents overflow */
}
